* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    background: linear-gradient(black, #171743, #3d2288);
    overflow: hidden;
}

/*---------------------*/
/* STAR SECTION */
/*-------------------*/

.star-section {
    height: 70vh;
}

.moon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(248, 239, 190);
    position: relative;
    top: 50px;
    left: 130px;
    animation: moon 2s ease-out;
    animation-iteration-count: infinite;
}

.star {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    animation: twinkle 1s;
    animation-iteration-count: infinite;
}

.star--big {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    animation: twinkle--big 2s;
    animation-iteration-count: infinite;
}

.star:nth-of-type(2) {
    left: 80vw;
    animation-duration: .8s;
}

.star:nth-of-type(3) {
    left: 76vw;
    top: 14vh;
}

.star:nth-of-type(4) {
    left: 52vw;
    top: 22vh;
    animation-duration: 1.4s;
}

.star:nth-of-type(5) {
    left: 42vw;
    bottom: 10vh;
}

.star:nth-of-type(6) {
    left: 3vw;
    top: -7vh;
    animation-duration: 1.2s;
}

.star:nth-of-type(7) {
    left: 7vw;
    top: 10vh;
    animation-duration: 1.3s;
}

.star:nth-of-type(8) {
    left: 90vw;
    top: 45vh;
    animation-duration: .9s;
}

.star:nth-of-type(9) {
    left: 20vw;
    top: 30vh;
    animation-duration: 1.1s;
}

.star--big:nth-of-type(10) {
    left: 90vw;
}

.star--big:nth-of-type(11) {
    left: 70vw;
    top: 26vh;
    animation-duration: 1.1s;
}

.star--big:nth-of-type(12) {
    left: 55vw;
    animation-duration: 1.2s;
}

.star--big:nth-of-type(13) {
    left: 32vw;
}

.star--big:nth-of-type(14) {
    left: 33vw;
    top: 25vh;
    animation-duration: 1s;
}

.star--big:nth-of-type(15) {
    left: 5vw;
    top: 13vh;
    animation-duration: .9s;
}

.star--big:nth-of-type(16) {
    left: 40vw;
    top: 7vh;
    animation-duration: 2.3s;
}

.star--big:nth-of-type(17) {
    left: 23vw;
    top: 30vh;
    animation-duration: 1.6s;
}


/*---------------------*/
/* TEXT SECTION */
/*-------------------*/

.text-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text {
    font-size: 400%;
    font-family: 'Oxanium', cursive;
    background: linear-gradient(to left, rgb(255, 123, 193) 20%, rgb(255, 226, 132) 40%, rgb(255, 226, 132) 60%, rgb(255, 123, 193) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: transparent;
    background-size: 200% auto;
    animation: textGradient 3s linear infinite;
}


/*---------------------*/
/* KEYFRAMES */
/*-------------------*/

@keyframes moon {
    50% {
        transform: rotate(25deg);
    }
}

@keyframes twinkle {
    70% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes twinkle--big {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes textGradient {
    to {
      background-position: 200% center;
    }
  }